# For details on how this file works see:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# OpEngine owns everything.
* @netmanagement/opengine
