# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Nuxt
.cache
.nitro
.nuxt
.output
dist

# Histoire
.histoire

# Logs
logs
*.log*

# Misc
.DS_Store
.idea
*.pem

# Local env files
.env
.env.*
!.env.example

# Turbo
.turbo
